<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695325978444-vo91bu6l1ddhho44hgq8p10aq98p0rjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695325978444-vo91bu6l1ddhho44hgq8p10aq98p0rjd</string>
	<key>API_KEY</key>
	<string>AIzaSyBUOrv7e2-Oj8XzffyUU6IaV1cHsisTyyE</string>
	<key>GCM_SENDER_ID</key>
	<string>695325978444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robaert.alexandre.DesafioMobills</string>
	<key>PROJECT_ID</key>
	<string>desafio-mobills-f61ec</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-mobills-f61ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695325978444:ios:a1a2a13756999050d1a9e9</string>
</dict>
</plist>